

section#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20 rem;
}

section .home__left {
    max-width: 62 rem;
    flex: 1;
}

section .home__left p {
    max-width: 50rem;
    margin-top: 2rem;
    margin-bottom: 4rem ;
}

section .home__right .home__image{
  position: relative;
  line-height: 0;
}

section .home__right .home__image::after{
    content: "";
    display: block;
    width: 80%;
    height: 102%;
    border: 1px solid var(--home-color-abstratdetail);
    position: absolute;
    top: -1.5rem;
    right: 16rem;
    border-radius: 0.5rem;
    z-index: -1;

}

section .home__right .home__image .profile__img {
    border-radius: 1rem;
    min-width: 25rem;
    max-width: 100%;
}
section .home__right .home__image .home__background {
    width: 60rem;
    position: absolute;
    top: -2rem;
    right: 22rem;
    z-index: -1;
}



@media only screen and (max-width: 768px) {
    section#home {
        flex-direction: column;
        text-align: center;
    }
}