.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--nav-background);
    color: var(--btn-nav-color);
    }

.header img {
    width: 4.8rem;
    height: 4.8rem;
}

.header .header__content {
    padding: 3rem 4rem 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border-nav-color);
    
}   

.btn__theme {
    color: var(--btn-nav-color);
    background: var(--btn-theme-background);
    border: none;
    outline: none;
    padding: 1rem 1.5rem ;
    display: inline-block;
    border-radius: 0.5rem;

}

.header .header__content .header__links li {
    display: inline-block;
    
}  
.header .header__content .header__links li:not(:last-child) {
    margin-right: 2rem;
} 

.header .header__content .header__links a {
    padding: 1.5rem;
    display: inline-block;
    
} 

.header .header__content .header__links a:hover {
    color: var(--color-nav-hover);
} 


.header .header__content .header__mobile,
.header .header__content .header__mobile .mobile__links {
     display: none;
}

.header.active {
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);
}

@media only screen and (max-width: 768px) {
    .header .header__content .header__links {
        display: none;
    }  
    .header .header__content .header__mobile {
        display: flex;
        align-items: center;
    }

    .header .header__content .header__mobile img{
        width: 3.6rem;
        height: 3.6rem;
        cursor: pointer;
        background-color: var(--burguer-color);
        
    }

    .header .header__content .header__mobile.active .mobile__links{
       display: flex;
       flex-direction: column;
       background-color: var(--nav-background);
       width: 100%;
       position: absolute;
       top: 98%;
       left: 0;
       padding: 1rem 0;
       box-shadow: 0.0.4rem 0.5rem rgba(0,0,0,0.1);
       z-index: 1;

    }

    .header .header__content .header__mobile.active .mobile__links li{
       margin-right: 0;
     }

     .header .header__content .header__mobile.active .mobile__links li {
        padding: 1rem;
        display: block;
        text-align: center;
      }
 
}