.projects { padding-top: 4rem; padding-bottom: 15rem; }
.projects__content { display: grid; grid-template-columns: 1fr 1fr; gap: 5vw; align-items: end; margin: 3rem 0 8rem; }
.projects__content p { max-width: 48rem; padding-bottom: .5rem; }
@media (max-width: 750px) { .projects { padding-bottom: 10rem; } .projects__content { grid-template-columns: 1fr; margin-bottom: 5rem; } }
