* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span {
  color: var(--text-color);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin-top: 15rem;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: var(--dark-secondary-color);
  color: var(--white);
}
a {
  text-decoration: none;
  color: inherit;
  transition: .4s;
  color: var(--text-color);
}

h1 {
  font-size: 6.4rem;
  font-weight: 700;
  color: var(--primary-color);
}

h3 {
  color: var(--h3-color);
  padding-bottom: 1rem;
}

.secondary-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 2rem ;
}

.tertiary-title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: var(--secondary-color);
  padding-bottom: 2rem ;
}

p,
.p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.5rem;
  color: var(--text-color);
}

p:not(:last-of-type),
.p:not(:last-of-type) {
  margin-bottom: 2rem;
}

.btn {
  background-color: none;
  border: none;
  outline: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
  
}
.btn:hover {
  transition: 5s;
  background: var(--gradient-color);
}


.btn.btn-primary {
  background-color: var(--dark-secondary-color);
  color: var(--white);
  font-weight: 400;
  font-size: 1.4rem;
}
.btn.btn-primary:hover {
  transition: 3s;
  background: var(--gradient-color);
  
}

.max-width {
  width: 100%;
  max-width: 120rem;
  padding: 0 4rem;
  margin: 0 auto;
  margin-bottom: 26rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-s {
  margin-bottom: 1rem;
}

.mb-m {
  margin-bottom: 2rem;
}

.mb-l {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }

  h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 58%;
  }

  .max-width {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 4.2rem;
  }
}
